@using MvcStokProje.Models.Entity
@model List<TMusteriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Müşteri Id</th>
        <th>Müşteri Adi</th>
        <th>Müşteri Soyadı</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var kgr in Model)
        {
        <tr>
            <td>@kgr.MusteriId</td>
            <td>@kgr.MusteriAd</td>
            <td>@kgr.MusteriSoyad</td>
            <td><a href="/Musteri/SIL/@kgr.MusteriId" class="btn btn-danger">Sil</a> </td>
            <td><a href="/Musteri/GUNCELLE/@kgr.MusteriId" class="btn btn-success">Güncelle</a> </td>
        </tr>
        }

    </tbody>
</table>

<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>

