
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">

    <div>
        <label>Ürün ID</label>
        <input type="text" class="form-control" name="Urun" />
    </div>
    <div>
        <label>Müşteri ID</label>
        <input type="text" class="form-control" name="Musteri" />
    </div>
    <div>
        <label>Adet</label>
        <input type="text" class="form-control" name="Adet" />
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="Fiyat" />
    </div>
   
    <div style="margin-top:15px">
        <button class="btn btn-info">Satış Ekle</button>
    </div>



</form>
